.Contact{
    background-color: var(--color_black);
}
.topContainer{
   margin: -6px;
}

.contactImg{
    max-height: 1000px;
}

.inputContainer{
    margin-bottom: 30px;
    width: 100%;
}

.formInput{
    border-radius: 0px;
    border: 1px solid gray;
}

form{
    padding-top: 40px;
}

textarea{
    border-radius: 0px;
    border: 1px solid gray;
}
