:root {
    --color_salmon: #E09F7D;
    --color_orange: #EF5D60;
    --color_pink: #EC4067;
    --color_purple: #A01A7D;
    --color_dark_purple: #311847;
    --color_white: #FBFBF2;
    --color_black: #2D3047;
    --color_gray: #8C8E9A;
    --color_dark_gray: #535568;
    --color_dark_black: #25283B;
}


