.Experience{
    background-color: var(--color_dark_black);
    display: flex;
}

.expListItemContainer{
    padding-top: 50px;
}

.expListItem{
    border-bottom: solid 1px var(--color_orange);
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 150%;
}

.expImgContainer{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    max-height: 1470px;
}
